.playlist-container{
    /* margin-left: 30px; */
    /* margin-right: 30px; */
    padding-bottom: 80px;
}

.playlist-header-container{
    display: flex;
    flex-direction: row;
    border-bottom: 1px white solid;
    width: 103.12%;
}

#playlist-info-container{
    padding-left: 50px;
    padding-top: 20px;
}

.play-like-container{
    display: flex;
    flex-direction: row;
}

.song-list-header-container{
    display: flex;
    flex-direction: row;
    border-bottom: 1px white solid;
    justify-content: space-between;
}

.number-icon{
    display: flex;
    flex-direction: row;
}
.delete-playlist-button{
    background-color: #1ed760;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
    width: 100px;
    height: 35px;
}
.delete-playlist-button:hover{
    width: 110px;
    height: 40px;
}
.playlist-song-container:hover{
    background-color: gray;
}
.active-playlist-song-dropdown{
    position: absolute;
    z-index: 99999;
    background-color: black;
    /* width: 300px; */
    left: 87%;
}
