.playlist-container{
    /* margin-left: 30px; */
    /* margin-right: 30px; */
    padding-bottom: 80px;
}

.playlist-header-container{
    display: flex;
    flex-direction: row;
    width: 103.12%;
}

#playlist-info-container{
    padding-left: 50px;
    padding-top: 50px;
}

.play-like-container{
    display: flex;
    flex-direction: row;
    margin-top:20px;
    margin-bottom: -20px;
}

.song-list-header-container{
    display: flex;
    flex-direction: row;
    border-bottom: 1px #2c2c2c solid;
    justify-content: space-between;
    padding-right: 50px;
}

.number-icon{
    display: flex;
    flex-direction: row;
}
.delete-playlist-button{
    background-color: #1ed760;
    color: black;
    border-radius: 20px;
    margin-top: 20px;
    width: 100px;
    height: 35px;
    border: none;
    cursor: pointer;
    padding-top: 5px;
}
.playlist-song-container:hover{
    background-color: gray;
}
.active-playlist-song-dropdown{
    position: absolute;
    z-index: 99999;
    background-color: black;
    /* width: 300px; */
    margin-left: -30px;
    margin-top: 20px;
}

.playlist-page-image{
    box-shadow: 5px 5px 12px 5px black;
    width: 230px;
    height: 230px;
    margin-top: 5.5px;
}

.yes{
    text-decoration: none;
    color: gray;
    font-size: 13px;
    margin-left: 6px;
}
.yes:hover{
    color: white;
}

.logged-out-album-page{
    text-decoration: none;
    color: gray;
    font-size: 13px;
    margin-left: 20px;
    padding-right: 10px;
    margin-right: 20px;
}
.logged-out-album-page:hover{
    color: white;
}

.add-to-queue-button{
    color: gray;
    background: none;
    border: none;
    cursor: pointer;
}
.add-to-queue-button:hover{
    color: white;
}


.remove-song-button{
    color: gray;
    background: none;
    border: none;
    cursor: pointer;
}
.remove-song-button:hover{
    color: white
}

.add-song-to-playlist-button{
    color: gray;
    background: none;
    border: none;
    cursor: pointer;
}
.add-song-to-playlist-button:hover{
    color: white;
}

.create-playlist-button-dropdown{
    color: gray;
    background: none;
    border: none;
    cursor: pointer;
}
.create-playlist-button-dropdown:hover{
    color: white;
}
