.profile-dropdown-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282828;
    margin-top: 10px;
    border-radius: 10px;
}
.drop-down{
    /* width: 100px; */
    height: 40px;
    /* margin-left: 45px; */
}

#drop-down-button{
    border-radius: 20px;
    border: none;
    background-color: #1ed760;
}
