.user-profile-pic{
    border: 1px solid white;
    border-radius: 1000px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
    background-color: gray;
}

.profile-header-container{
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.fa-user{
    padding-right: 20px;
}

.user-info{
    margin-top: 80px;
    margin-left: 30px;
    color: white;
}

.profile-playlists-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    padding-left: 30px;
}

.playlist-image-container{
    padding-bottom: 30px;
    width: 200px;
    height: 200px;
}

.playlist-image{
    width: 220px;
    height: 220px;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 12px 5px black;
}

.profile-followed-playlists-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    padding-left: 30px;
}

.profile-container{
    padding-bottom: 90px;
    margin-left: 20px;
}

.follow-button{
    margin-top: 10px;
    background: none;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    font-weight: 700;
}
.follow-button:hover{
    border-color: white;
}

.followed-users-container{
    display: flex;
    flex-direction: row;

}

.follower-container{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    color: white;
    background-color: #181818;
    margin-left: 30px;
    width: 180px;
}

.follower-container:hover{
    transition: 0.5s;
    background-color: rgb(40, 40, 40);
}

.follower-profile-pic{
    border: 1px solid white;
    border-radius: 1000px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-top: 10px;
    background-color: gray;
    box-shadow: 5px 5px 12px 5px black;
    margin-bottom: 15px;
}
