.landing-page-container{
    color: white;
    padding-left: 30px;
    padding-bottom: 80px;
}

.artist-landing-container{
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    padding-left: 30px;
    font-family: Circular;
}

.artist-image-container{
    width: 250px;
    height: 250px;
    padding-bottom: 35px;
    border-radius: 20px;
    background-color: #181818;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.artist-image-container:hover{
    transition: 1s;
    background-color: rgb(40, 40, 40);
}

.landing-page-image{
    width: 200px;
    height: 200px;
    /* box-shadow: 5px 5px 12px 5px black; */
 }

.album-container{
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    padding-left: 30px;
 }

.album-image-container{
    padding-bottom: 30px;
    border-radius: 20px;
    background-color: #181818;
    color: white;
    width: 250px;
    margin-top: 10px;
}

.album-image-container:hover{
    transition: 1s;
    background-color: rgb(40, 40, 40);
}

/* img{
    box-shadow: 5px 5px 12px 5px black;
    width: 200px;
    height: 200px;
} */

.landing-page-playlist-container{
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    padding-left: 30px;
}
.playlist-image-container{
    padding-bottom: 30px;
    width: 200px;
    height: 200px;
}

.playlist-image{
    width: 220px;
    height: 220px;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px 12px 5px black;
}

.landing-album-image{
    width: 220px;
    height: 220px;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 12px 5px black;
}
