#search-button-icon{
    position: sticky;
    top: 15px;
    color: black;
    background: none;
    border: none;
    margin-left: -390px;
    font-size: 18px;
}

.search-results-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
}

.album-cards{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid gray; */
    border-radius: 20px;
    background-color: #181818;
    color: white;
    width: 250px;
    cursor: pointer;
}

.album-cards:hover{
    transition: 1s;
    background-color: rgb(40, 40, 40);
}

.playlist-cards{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid gray; */
    border-radius: 20px;
    background-color: #181818;
    color: white;
    width: 250px;
    cursor: pointer;
    margin-top: 10px;
}

.playlist-cards:hover{
    transition: 1s;
    background-color: rgb(40, 40, 40);
}

.album-image{
    width: 220px;
    height: 220px;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 15px;
}

.artist-image{
    width: 220px;
    height: 220px;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 200px;
}
