#top-navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    height: 50px;
    margin-left: 8%;
    top: -8.5px;
    right: -7.5px;
    background-color: #111111;
}

#logging-in-signing-up-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 80px;
    border-bottom: 1px #d9dadc solid;
}

.logo-img{
    width: 200px;
    height: 55px;
    padding-top: 15px;
}

#login-nav-button{
    background-color: white;
    font-weight: 750;
    border: none;
    border-radius: 25px;
    padding: 14px 32px
}

#signup-nav-button{
    border: none;
    background-color: #111111;
    color: #808080;
}

#signup-nav-button:hover{
    color: white;
}

.login-signup{
    padding-top: 5px;
    margin-right: 10px;
}
