body{
    margin-left: 190px;
    /* padding-bottom: 400px; */
    /* overflow-y: scroll; */
    /* margin: 0; */
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #1e1e1e;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#top-navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: sticky;
    height: 50px;
    top: 0;
    right: -7.5px;
    background-color: #111111;
    margin-top: -10px;
    width: 108%;
    /* z-index: 999; */
}

#logging-in-signing-up-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 80px;
    /* border-bottom: 1px #d9dadc solid; */
}

.logo-img{
    width: 200px;
    height: 55px;
    padding-top: 15px;
}

#login-nav-button{
    background-color: white;
    font-weight: 750;
    border: none;
    border-radius: 25px;
    padding: 14px 32px;
    cursor: pointer;
}

#signup-nav-button{
    border: none;
    background-color: #111111;
    color: #808080;
    cursor: pointer;
}

#signup-nav-button:hover{
    color: white;
}

.login-signup{
    padding-top: 5px;
    margin-right: 10px;
}

#signup-button-container{
    display: flex;
    justify-content: center;
}

.side-nav{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    padding-top: 30px;
}

.side-nav a{
    display: flex;
    padding-bottom: 10px;
    text-decoration: none;
    color: #b3b3b3;
    overflow-y:visible;
}

.side-nav a:hover{
    color: white
}

.user-playlist-div{
    margin-left: 20px;
}

.fa-solid:hover{
    color: white;
}

.bottom-div-container{
    z-index: 100;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    color: white;
    background-color: #181818;
    overflow-x: hidden;
}

.logged-out-bottom-div-container{
    z-index: 100;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    color: white;
    background: rgb(175,41,151);
    background: linear-gradient(90deg, rgba(175,41,151,1) 0%, rgba(152,67,173,1) 20%, rgba(81,154,244,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: hidden;
}

.create-playlist-button{
    display: flex;
    padding-bottom: 10px;
    border: none;
    background-color: #000000;
    color: #b3b3b3;
}
.create-playlist-button:hover{
    color: white;
    cursor: pointer;
}

#bottom-nav-album-link{
    text-decoration: none;
    color: white;
}
#bottom-nav-album-link:hover{
    text-decoration: underline;
}
#bottom-nav-artist-link{
    text-decoration: none;
    color: gray;
}

#bottom-nav-artist-link:hover{
    text-decoration: underline;
    color: white;
}
